body{
overflow-x:hidden ;
}
.hidden{
    display: none !important;
}

@media only screen and (max-width: 767px) {
  .destop-side-bar{
    display: none;
  }
  .hidden{
    display: block !important;
  }
  .mt-10{
    margin-top: 10px;
  }
  }